flask
flask-cors
flask-socketio
gunicorn
yt-dlp
validators
eventlet
fastapi
uvicorn[standard]
yt-dlp
slowapi  # For rate limiting
aiofiles
python-multipart
jinja2
starlette
uuid
pydantic
gevent>=21.1.2